<div [@load]="fadeInStart? 'visible' : 'hidden'" class="d-flex justify-content-center">
    <form [formGroup]="loginForm" class="d-flex flex-column gap-4">
        <h1 class="text-center">LOGIN</h1>

        <input type="email" formControlName="email" name="password" id="email" autocomplete="off" placeholder="Email">
        <span class="form-text text-danger"
        *ngIf="this.loginForm.controls['email'].errors && this.loginForm.controls['email'].touched" >
            Este campo es obligatorio.
        </span>
        
        <input type="password" formControlName="password" name="password" id="password" autocomplete="off" placeholder="Password">
        <span class="form-text text-danger"
        *ngIf="this.loginForm.controls['password'].errors && this.loginForm.controls['password'].touched" >
            Este campo es obligatorio y debe tener al menos 5 carácteres.
        </span>

        <button type="submit" [disabled]="!loginForm.valid" (click)="login()">Login</button>
        <a [routerLink]="['/register']" class="mt-5 text-center">Register</a>
    </form>
</div>