app-header{
    position: fixed;
    width: 100%;
}
.container{
    display: flex;
    flex: 1;
    margin-top: 120px;
    margin-bottom: 80px;
    
    @media (min-width: 768px) {
        margin-top: 240px;
        margin-bottom: 80px;
    }
}
