@import "../../../vars.scss";
footer{
    background-color: $black;
    background-image: url('../../../assets/img/footer_vader.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    font-size: 0.875rem;
    padding-top: 80px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    p, a{
        font-size: 0.875rem;
    }
}