<footer class="d-flex flex-column">
    <div class="text-center text-uppercase">
        Follow Star Wars:
        <div class="d-flex justify-content-center mt-3 gap-4">
            <a href="http://www.facebook.com/starwars" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
            <a href="http://www.instagram.com/starwars" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
            <a href="http://www.youtube.com/starwars" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
            <a href="http://www.twitter.com/starwars" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        </div>
    </div>
</footer>